<div class="past-events">
  {{#withSort events "id" dir="desc"}}
    <h2 class="event">
      <span class="meta">#<b class="num">{{ id }}</b></span>
      <a href="/events/{{ id }}">{{ name }}</a>
    </h2>

    <ul>
    {{#each calls.0.submissions}}
      <li class="speaker">{{ title }}, presented by {{ name }}</p>
    {{/each }}
  </ul>
  {{/withSort}}
</div>
